<section class="block block-sticky-flip">
    <div class="imgbox">
        <img src="{{ section.image | relative_url }}" alt="{{ section.caption }}">
    </div>
    <div class="content">
          <h2 class="sticky-header">{{ section.headline }}</h2>
          <p>{{ section.content }}</p>
      

    </div>
  </section>

  <style>
  h2.sticky-header {
    font-size: 3rem;
    text-align: center;
    padding:20px;
  }
  section.block-sticky-flip{
    position: relative;
      height: auto;
      display: flex;
     flex-direction: row-reverse;
      background: #ccc;

  }

  .block-sticky-flip .imgbox {
      position:sticky;
      top:0;
      min-width: 40%;
      height:100vh;
  }
  .block-sticky-flip .imgbox img {
      position:absolute;
      max-height: 100%;
      max-width: 100%;

  }
  .block-sticky-flip  .content {
    padding: 30px 30px 30px 0;
    text-align: left;
    max-width: 60%;
    float:right;

  }
  </style>
