<header class="block block-header-4">

  <div class="block-header-4--logo">
    <a href="{{ site.url | relative_url }}">
      <img src="{{ section.logo | relative_url }}" alt="{{ site.title }}">
    </a>
    <div class="logo-name-container">
    <a class="block-logo-text" href="/">
      <h1 class="logo-text">Great Bonefishing Company</h1>
    </a>
    <div class="email-phone"><a href="tel:+1-617-930-8353">+1-617-930-8353</a> | <a href="mailto:GreatBonefishing@gmail.com">GreatBonefishing@gmail.com</a></div>
    </div>
  </div>

  <nav class="block-header-4--nav">
    <ul>
        
        <li class="nav-item active"><a href="/">Home</a></li>
        
        <li class="nav-item "><a href="/fishing">Fishing</a></li>
        
        <li class="nav-item "><a href="/journey">Journey</a></li>

        <li class="nav-item "><a href="/pricing">Pricing</a></li>
        
        <li class="nav-item "><a href="/lodge">Lodge</a></li>

        <li class="nav-item "><a href="/faq">FAQ</a></li>
        
    </ul>
    <a class="button primary medium block-header-2--cta" href="#contact-form">Enquire</a>
  </nav>

</header>