<section class="block block-gallery">
  <div class="gallery">
    <figure>
      <img src="{{ section.image | relative_url }}" alt="{{ section.caption }}">
      {% if section.caption %}
      <figcaption>{{ section.caption }}</figcaption>
      {% endif %}
    </figure>


    <figure>
      <img src="{{ section.image2 | relative_url }}" alt="{{ section.caption }}">
      {% if section.caption %}
      <figcaption>{{ section.caption }}</figcaption>
      {% endif %}
    </figure>
  </div>
</section>