<section
  class="block block-hero-3"

>
<div class="video-overlay">
<video muted autoplay>
    <source type="video/mp4" src="{{ section.video }}">
</video>
</div>
  <div class="container">
    <div class="columns">
      <div class="column text">
        <div class="banner-card">
            <h1><span class="light">{{ section.headline }}</span></h1>
            <p>{{ section.content }}</p>
            {% if section.cta and section.cta.enabled == true %}
            <a class="button primary" href="{{ section.cta.url }}"
              >{{ section.cta.button_text }}</a
            >
            {% endif %}
        </div>
      </div>

    </div>
  </div>
</section>

