<section
  class="block block-hero-3"

>
<div class="video-overlay">
<video muted autoplay>
    <source type="video/mp4" src="{{ section.video }}">
</video>
</div>
  <div class="container">
    <div class="columns">
      <div class="column text">
        <div class="banner-card">
            <h1><span class="light">{{ section.headline }}</span></h1>
            <p>{{ section.content }}</p>
            {% if section.cta and section.cta.enabled == true %}
            <a class="button primary" href="{{ section.cta.url }}"
              >{{ section.cta.button_text }}</a
            >
            {% endif %}
        </div>
      </div>

    </div>
  </div>
</section>


<style>

   .block-hero-3 > .container {
        position: -webkit-sticky;
  position: sticky;
  top:120px;
    }
    /* .video-overlay {
        z-index: -10;
        position: relative;
    } */
    .block-hero-3 video {
        opacity: .9;

    }
.block-hero-3 .banner-card {

  position: absolute;
  top:0;
    /* top: 200px; */
    left:140px;
    width:700px;
    height:auto;
    background-color:#eeeeee;
    /* opacity: .8; */
    color:black;
    text-align: left;
    padding-left: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
}
.block-hero-3 .banner-card > p {
    color:black;

}
</style>